DOCUMENTKIT_HOST=127.0.0.1
DOCUMENTKIT_PORT=3000
DOCUMENTKIT_API_KEY=
DOCUMENTKIT_MAX_CONCURRENCY=4
DOCUMENTKIT_MAX_QUEUE=32
DOCUMENTKIT_RATE_LIMIT_MAX=60
DOCUMENTKIT_JOB_TIMEOUT_MS=45000
DOCUMENTKIT_NAVIGATION_TIMEOUT_MS=30000
DOCUMENTKIT_MAX_OUTPUT_BYTES=26214400
DOCUMENTKIT_MAX_MCP_OUTPUT_BYTES=5242880
DOCUMENTKIT_MAX_REQUESTS_PER_JOB=300
DOCUMENTKIT_MAX_DECLARED_NETWORK_BYTES=52428800
DOCUMENTKIT_ALLOW_PRIVATE_NETWORKS=false
DOCUMENTKIT_ALLOWED_HOSTS=
DOCUMENTKIT_LOG_LEVEL=info
